@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap");

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Noto Sans Display", sans-serif;
  font-size: 16px;
  background-color: var(--primary-color);
}

.right {
  display: flex;
  justify-content: right;
}
.left {
  display: flex;
  justify-content: left;
}

main {
  display: block;
}

#root {
  --primary-color: #1b2b45;
  --primaryHighlight-color: #5fb1f0;
  --primaryMedium-color: #11613c;
  --primaryLight-color: #ff663d;
  --secondaryDark-color: #060c24;
  --secondaryLight-color: #a036ee;
  --accent-color: #f02b61;
  --accentLight-color: #fe9553;
}

header {
  padding-left: 5vh;
  height: 17.2vh;
  background: linear-gradient(
    to right,
    var(--secondaryDark-color),
    var(--primaryLight-color),
    var(--secondaryLight-color),
    var(--secondaryDark-color)
  );
  display: flex;
  align-items: center;
  justify-content: left;
}

footer {
  min-height: 7vh;
  display: flex;
  justify-content: center;
  background-color: var(--secondaryDark-color);
}

h1 {
  color: var(--accentLight-color);
  font-size: 3em;
  font-family: "Noto Sans Display", sans-serif;
  letter-spacing: 2px;
}

h2 {
  margin-top: 2%;
  margin-bottom: 2%;
  color: var(--secondaryLight-color);
  padding: 2%, 0%;
}

h5 {
  font-size: medium;
  color: var(--primaryHighlight-color);
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.8);
  font-family: "Noto Sans Display", sans-serif;
}

p {
  color: white;
}

a,
.yelpLink {
  color: var(--accentLight-color);
  text-align: center;
  text-decoration: none;
}

a:hover {
  color: white;
}

.glow-text {
  color: var(--accentLight-color);
  text-shadow: 0 0 5px var(--primaryLight-color);
}

.container {
  padding: 2% 0;
  min-height: 70vh;
}

.icon-container {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.icon {
  text-align: center;
  margin: 10px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  background-color: var(--secondaryDark-color);
  font-family: "Noto Sans Display", sans-serif;
}

.nav-item {
  text-decoration: none;
  margin-left: 0;
  color: var(--accent-color);
  list-style: none;
}

.nav-link {
  display: inline-block;
  color: var(--accent-color);
  transition: color 0.3s ease;
  &:hover,
  &.active {
    color: var(--primary-color);
    background-color: var(--accent-color, 0.5);
    border-radius: 8px;
  }
}

.bg {
  background-image: url("./assets/images/pexels-peng-liu-169647.jpg");
  height: auto;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgLogin {
  background-image: url("./assets/images/pexels-karol-d-409701.jpg");
  height: auto;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgSignUp {
  background-image: url("./assets/images/pexels-aleksandar-pasaric-2338113.jpg");
  height: auto;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgUserPage {
  background-image: url("./assets/images/pexels-nicole-avagliano-2368951.jpg");
  height: auto;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgFriendsPage {
  background-image: url("./assets/images/pexels-roman-ska-6989900.jpg");
  height: auto;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgNoAccess {
  background-image: url("./assets/images/pexels-pixabay-315191.jpg");
  height: auto;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgFavoritesPage {
  background-image: url("./assets/images/pexels-joaquin-carfagna-18111560.jpg");
  height: auto;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgAboutPage {
  background-image: url("./assets/images/pexels-mario-cuadros-2793175.jpg");
  height: auto;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.searchContainer {
  background-color: #060c2499;
  border-radius: 8px;
}

.results-wrapper {
  overflow-y: scroll;
  width: auto;
  border-radius: 8px;
  max-height: 50vh;
}

.pref-container {
  background-color: #f02b61cc;
  width: 30vw;
  height: fit-content;
  border-radius: 8px;
  margin-bottom: 2%;
}

.pref-container p {
  margin-bottom: 0;
  font-size: 20px;
  letter-spacing: 1px;
}

.pref-container li {
  list-style: none;
  color: var(--primary-color);
  letter-spacing: 1px;
  font-size: 18px;
}

.modal-content {
  color: #a036ee;
}

.form-container {
  padding: 2%;
  background-color: #060c2499;
  border-radius: 8px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.noAccess-container {
  width: fit-content;
  height: fit-content;
  padding: 2%;
  background-color: #060c24b4;
  border-radius: 8px;
}

.favorites-container {
  /* padding: 2% 0; */
  background-color: #060c24b4;
  border-radius: 8px;
  overflow-y: scroll;
  width: auto;
  border-radius: 8px;
  max-height: 70vh;
}

.form-check-label {
  user-select: none;
  color: var(--accent-color);
  letter-spacing: 1px;
}

.form-label {
  color: white;
  letter-spacing: 1px;
}

.pageLink {
  margin: 1%;
  padding: 5px;
  color: var(--accent-color);
  text-decoration: none;
}

.btn-primary {
  margin-bottom: 1%;
  color: var(--accentLight-color);
  text-shadow: 0 0 2px var(--primaryLight-color);
  background-color: var(--secondaryDark-color);
  letter-spacing: 1px;
}

.btn:hover {
  background-color: var(--secondaryLight-color);
}

.favoriteBtn:hover {
  background-color: var(--secondaryDark-color);
}

.error-message {
  color: var(--primaryLight-color);
}

.card-container img {
  margin: 20px 0px;
  display: block;
  max-height: 200px;
  width: auto;
  border-radius: 8px;
  border: 2px solid var(--accentLight-color);
}

.card-container {
  display: flex;
  justify-content: center;
}

.card {
  margin: 1%;
  width: 20rem;
  padding: 1rem;
  background-color: var(--secondaryLight-color);
}

.card-text {
  text-align: center;
  color: var(--primary-color);
  font-size: 13px;
}

.card-title {
  text-align: center;
}

.restCardTitle {
  font-size: 25px;
  font-weight: 700;
}

.restCardDescription {
  font-size: 20px;
  margin-bottom: 0.5rem;
}

.intro-text {
  margin-top: 5%;
  text-shadow: 0 0 5px var(--secondaryLight-color);
  font-family: "Noto Sans Display", sans-serif;
}

/* map stuff */
.map-container {
  padding: 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map_hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.map_hover h5 {
  padding: 0 10px;
}

.chat-container {
  margin-left: 50px;
  margin-top: 15px;
  padding: 50px;
  background-color: #1b2b4580;
  border-radius: 8px;
  height: 40vh;
}

@media (max-width: 1024px) {
  .pref-container {
    width: 50vw;
  }

  .friends-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 425px) {
  h5 {
    font-size: smaller;
  }
  .icon-container {
    gap: 0px;
  }
  .nav-link {
    padding: 10px;
  }
  .form-container {
    margin-top: 30px;
  }
  .pref-container {
    width: 80vw;
  }
  .card {
    width: 90vw;
  }
  .chat-container {
    margin-left: 0px;
    padding: 0px;
  }
}

@media (max-width: 320px) {
  .nav-link {
    padding: 7px;
    font-size: smaller;
  }
}
