html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  background-color: var(--primary-color);
}

main {
  display: block;
}

#root {
  --primary-color: #1b2b45;
  --primaryMedium-color: #11613c;
  --primaryLight-color: #ff663d;
  --secondaryDark-color: #060c24;
  --secondaryLight-color: #a036ee;
  --accent-color: #f02b61;
  --accentLight-color: #fe9553;
}

header {
  padding-left: 5vh;
  height: 20vh;
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--primaryLight-color),
    var(--secondaryLight-color)
  );
  display: flex;
  align-items: center;
  justify-content: left;
}

footer {
  min-height: 7vh;
  display: flex;
  justify-content: center;
  background-color: var(--secondaryDark-color);
}

h1 {
  color: var(--accentLight-color);
}

h2 {
  color: var(--secondaryLight-color);
  padding-bottom: 2%;
}

h5 {
  color: var(--accent-color);
}

.container {
  padding-top: 2%;
  min-height: 70vh;
}

.icon-container {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.icon {
  text-align: center;
  margin: 10px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  background-color: var(--secondaryDark-color);
}

.nav-item {
  text-decoration: none;
  margin-left: 0;
  color: var(--accent-color);
  list-style: none;
}

.nav-link {
  display: inline-block;
  color: var(--accent-color);
  transition: color 0.3s ease;
  &:hover,
  &.active {
    color: var(--primary-color);
    background-color: var(--accent-color);
    border-radius: 8px;
  }
}

.form-check-label {
  user-select: none;
}

.pageLink {
  padding-left: 2px;
  color: var(--accent-color);
  text-decoration: none;
}

.btn-primary {
  margin-bottom: 1%;
  color: var(--accentLight-color);
  background-color: var(--primary-color);
}

.btn:hover {
  background-color: var(--secondaryLight-color);
}

.error-message {
  color: var(--primaryLight-color);
}

@media (max-width: 425px) {
  h5 {
    font-size: smaller;
  }
  .icon-container {
    gap: 0px;
  }
  .nav-link {
    padding: 10px;
  }
}

@media (max-width: 320px) {
  .nav-link {
    padding: 7px;
    font-size: smaller;
  }
}
