p {
    font-weight: bold;
}

.select-friend-dashboard {
    margin-top: 20px;

    & .pref-container {
        min-height: 75px;
        padding: 10px;
        box-shadow: 10px 10px 10px;
    }
}

.modal-body {
    background-color: white;
}

.searchContainer {
    margin-top: 10px;
}

.friend-dashboard form {
    width: 100%;
}

.modal-title {
    margin: 0 auto;
    font-weight: bold;
}

.dashboard-modal-card {
    color: white;
}

.no-user {
    color: black;
}

.modal-search-form {
    display: flex;
}

.welcome-header {
    background-color: black;
    opacity: .75;
    width: 30%;
    padding: 5px;
    border-radius: .2em;
    font-size: 1.8rem;
    text-align: center;
}

